/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

/* Centered clickable logo */
.nav-logo {
    
    display: flex;
    justify-content: center; /* Center logo on both mobile and desktop */
    flex: 1; /* Allow the logo to grow */
}

/* Adjust for larger screens if needed */
@media (min-width: 640px) {
    .nav-logo {
        margin-right:-130px; /* Adjust this value to push it slightly to the right if desired */
    }
}

/* Right-side elements */
.right-side {
    
    display: flex;
    align-items: center;
    margin-right: 0px; /* Add margin to the right side */
}
